:host{
    display:grid;
    grid-template-rows: repeat(auto-fit,minmax(1em, 1fr));
}
textarea {
    width: 42em;
    height: 50em;
}
 
button {
    box-shadow: -.1px -.1px 1px inset midnightblue;
    width: 7em;
    height: 2em;
    margin-left: .5em;
}
button:active{
    box-shadow: -1px -1px 2px inset gray;
}
input{
    width: 27em;
    height: 1.6em;
    margin-top: 0.5em;
    margin-bottom: .5em;
}
    

 