:host {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    display: grid;
    margin-left: 1em;
    margin-right: 1em;
  }
  ::ng-deep mat-ink-bar::before::after {
    content: "";
    height: 2px;
    width: 20px;
    background-color: green;
    position: absolute;
    left: 0;
  }
  ::ng-deep mat-ink-bar ::after {
    left: initial;
    right: 0;
  }
  
