  <table id='searchGrid'>
    <tr>
      <td>
        <label>Sort </label>
      </td>
      <td>
        <input type="checkbox" (checked)="sort" />
      </td>
    </tr>
    <tr>
      <td>
        <select (change)='onSelectChanged($event)'>
          <option *ngFor="let key of getKeys()">{{ key }}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label>Search </label>
      </td>
      <td>
        <input #searchInput (keyup)='onSearchKeyDown($event,searchInput)' />
      </td>
      <td>
        <mat-spinner style="width: 20px; height:20px;" mode='indeterminate'></mat-spinner>
      </td>
    </tr>cd 
  </table>
  <div *ngIf="!show">
    <pre>
      {{filtered}}
    </pre>
  </div>
  <!-- <app-mattab *ngIf='filtered' label='Filtered' data='filtered'></app-mattab>
  <app-mattab *ngIf='allClasses' label='Classes' data='allClasses'></app-mattab>
  <app-mattab *ngIf='allIds' label='IDs' data='allIds'></app-mattab>
  <app-mattab *ngIf="allBrackets" label='Brackets' data='allBrackets'></app-mattab>
  <app-mattab *ngIf="allBoxShadows" label='Box Shadows' data='allBoxShadows'></app-mattab> -->
